html
  head
     title!= title
  body
     br
     br
     h1 Check Deposits
     if(deposits != null && deposits.length)
        h2 Status of Check Deposits
         table
           thead(style="border: 1px solid black")
             tr(style="border: 1px solid black")
                th(style="border: 1px solid black") Name
                th(style="border: 1px solid black") Check Id
                th(style="border: 1px solid black") Amount
                th(style="border: 1px solid black") Status
                th(style="border: 1px solid black") Link
           tbody(style="border: 1px solid black")
             each deposit in deposits
              tr(style="border: 1px solid black")
                td(style="border: 1px solid black") #{deposit.name}
                td(style="border: 1px solid black") #{deposit.checknumber}
                td(style="border: 1px solid black") #{deposit.amount}
                td(style="border: 1px solid black") #{deposit.status}
                td(style="border: 1px solid black") 
                   a(href='/updatecheckstatus?username=#{deposit.name}&checknumber=#{deposit.checknumber}') update status
     form(name="deposit", action="/deposits" method="get")
         div.actions        
             input(type="submit", value="Choose a User")
     form(name="deposit", action="/" method="get")
         div.actions        
             input(type="submit", value="Go Home")
    